/*contact header start*/
#row1{
    position: relative;
    height: 50px;
    background-color:#26B3B8 ;
}
#contact{
    color: white;
    line-height: 50px;
    margin-left: 70px;

}
#contact a{
    text-decoration: none;
    color: white;
}
#contact a:hover{
    text-decoration: underline;
}
#icons{
   line-height: 50px;
   
}
#icon a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    float: right;
}
#icom{
    margin-left: 50px;
}
#icon a:hover{
    color: #07575a;
}
/*contact header end*/

/*main header css start*/

#row2{
    background-position: fixed;
    height: 80px;
    background-color:#4dd8dd ;
    
}
#forlogo a #logo{
    color: white;
    font-family:"Mukta", sans-serif;
    margin-top: 25px;
    margin-left: 70px;
    text-decoration: none;
}
#forlogo a #logo:hover{
    text-decoration:double;
    color: #07575a;
}
#fornav ul{
    list-style-type: none;
}
#fornav li{
    display: inline-block;
    line-height: 80px;
    margin-left: 20px;
    font-family:"Quicksand", sans-serif;
    font-size: 20px;
}
#fornav a{
    color: white;
}
#fornav a:hover{
    color: #07575a;
}
/*main header css end*/ 

/* Services heading css start*/

#serviceheading{
    height: 400px;
    background-color:#4dd8dd  ;
}


#services{
    text-align: center;
    font-family:"Quicksand", sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 80px;
}
#serviceheading p{
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    color:white;
    text-align: center;
}

/* Services heading css end*/


/*Contact form css start*/
#contact_1{
    height: 660px;
    width: 100%;
    background-color: #26B3B8;
    padding: 30px;
}
#small_box{
    height: 130px;
    width: 98%;
    margin-bottom: 20px;
   
   
    background-color: #4dd8dd;
}
#small_box i{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px;
    color: white;
    float: left;
}
#small_box i:hover{
    color: #07575a;
}
#txt_box{
    height: 130px;
    width: 55%;
    color: white;
    font-family:"Quicksand", sans-serif ;
    float: left;
    margin-left: 30px;
}
#form_div{
    height: 660px;
    width: 100%;
    
    
    box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2), 0 6px 20px 0 rgba(41, 41, 41, 0.2);
}

#name_form{
    height: 40px;
    width: 45%;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 20px ;
    margin-top: 20px;
}
#email_form{
    height: 40px;
    width: 45%;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 20px ;
    margin-top: 20px;
}
#subject_form{
    height: 40px;
    width: 94%;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 20px ;
    margin-top: 20px;
}
#txt_area{
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 20px ;
    margin-top: 20px;
}
#form_button{
    background-color: #26B3B8;
    color: white;
    border: 0px;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    margin-left: 240px;
}
#form_button:hover{
    background-color: #07575a;
    

}
/*contact form css end*/



/*Footer Css start*/
#rowfooter{
    height: 400px;
    background-color: #4dd8dd;
    margin-top: 50px;
}
#rowfooter #flogo{
    color: white;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 80px;
}
#rowfooter p{
    margin-left: 30px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#rowfooter i{
    color: white;
    margin-left: 30px;
    font-size: 25px;
    margin-top: 30px;

}
#rowfooter i:hover{
    color:#07575a;
    
}
#footerheading{
    color: white;
    font-size: 20px;
    margin-left: 30px;

}
#footerlist ul{
    list-style-type: none;
}
#footerlist li {
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin-top: 20px;
}
#footerlist a{
    color: white;
}
#footerlist a:hover{
    color: #07575a;
}
#adress{
    color: white;
    margin-left: 30px;
}
/*footer css end*/